<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyg7UtclhPbr-pyqOYewFmafD-pfgLEhA</string>
	<key>GCM_SENDER_ID</key>
	<string>86351593070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.revble.matnamana</string>
	<key>PROJECT_ID</key>
	<string>matnamana-65c65</string>
	<key>STORAGE_BUCKET</key>
	<string>matnamana-65c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:86351593070:ios:c6dfb42cb4883fc2b5307f</string>
</dict>
</plist>
